{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="bg-white shadow-lg rounded-xl p-5 w-100" style="max-width: 400px;">
    <h2 class="text-2xl fw-bold text-black text-center mb-4">Recuperar Senha</h2>
    <form class="d-flex flex-column gap-3">
      <input type="email" class="form-control border-rosa text-black" placeholder="Digite seu e-mail" required>
      <button type="submit" class="btn btn-rosa w-100 py-2 rounded-lg shadow-sm">Enviar link de recuperação</button>
    </form>
  </div>
</div>
{% endblock %} 